/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* ************ */
/* Main Styling */
/* ************ */

html {
  background-image: url("../images/22.jpg");
  background-color: #cccccc;
  background-size: cover;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.center {
  justify-content: center;
}

/* ************ */
/* Div Styling */
/* ************ */

/* Image Styling */

#Image-Section {
  height: 30vh;
  margin: 20px 0px 20px 0px;
}

#Image {
  height: 30vh;
  border: 5px solid #ea4c89;
  border-radius: 20px;
}

/* Input Styling */

#input-section {
  width: 80vw;
}

/* Label Styling */

.input-section-label {
  font-size: 3vh;
  margin: 10px;
  color: #ea4c89;
}

.input-section-input {
  width: 60%;
  margin: 10px;
  border: 4px solid white;
  border-radius: 20px;
  padding: 10px;
}

.box-design {
  color: #ea4c89;
  border: 1px solid #ea4c89;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 10px 16px;
  line-height: 20px;
}

.input-section-input input {
  margin: 5px 5px;
  width: 60%;
  min-height: 40px;
  height: 2vh;
}

/* Button Styling */

.input-section-input button {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

.input-section-input button:hover,
.input-section-input button:focus {
  background-color: #f082ac;
}

/* Results Styling */
#Results {
  text-align: left;
  margin: 10px 5px;
  width: 40%;
  height: fit-content;
  line-height: 20px;
}

@media only screen and (max-width: 600px) {
  #Image-Section {
    max-width: 100%;
  }

  #input-section {
    width: 100%;
  }

  .input-section-label {
    font-size: 5vw;
  }

  .input-section-input {
    width: 80%;
  }
}
